<!-- delivery_form_template.html -->

{% extends 'base.html' %} 
<h2>{% block title %}Create Delivery Order{% endblock %}</h2>

<body>
{% block content %}
<style>
  .iframe {
    width: 50vh; 
    height: 90vh; 
    border: none; 
  }
  @media (max-width: 480px) {
    .iframe {
      width: 37vh;
    }
  }
  @keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }
  .spin-animation{
    animation: spin 0.3s linear;
  }
  .btn:focus, .btn.focus {
    outline: none !important;
    box-shadow: none !important;
  }
</style>
<form id="delivery-form" method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <label for="id_num_forms" style="display: none">Number of Forms (1-3):</label>
  <input
    type="number"
    name="num_forms"
    id="id_num_forms"
    min="1"
    max="3"
    value="{{ forms|length }}"
    required
    style="display: none"
  />

  <div id="forms-container">
    {% for form in forms %}
    <fieldset class="delivery-form">
      <div class="form-row">
        <div class="col-md-5 mr-5">
          <h5>Detail Pengantaran</h5>
          <div class="form-group">
            {{ form.title.label_tag }} {{ form.title }}
          </div>
          <div class="form-group">
            {{ form.start.label_tag }} {{form.start}}
          </div>
          <div class="form-group">{{ form.end.label_tag }}{{ form.end }}</div>
          <div id="location_container">
            <div class="form-group">
              {{ form.start_location.label_tag }}{{form.start_location }}
            </div>
            <div class="form-group">
              {{ form.destination.label_tag }} {{ form.destination }}
            </div>
            <div class="d-flex">
              <button type="button" id="add-address-btn" class="btn btn-sm btn-link">Tambah Alamat Baru</button>
              <button type="button" id="updateSelect2Btn" class="btn btn-sm btn-link"><i class="fas fa-sync-alt"></i></button>
            </div>
          </div>
          <div class="form-group">
            {{ form.keterangan.label_tag }} {{ form.keterangan }}
          </div>
          <!-- <a href="{% url 'add_additional_address'%}">Tambahkan Alamat Baru</a> -->
        </div>

        <div class="col-md-5 mr-5">
          <h5>Paket</h5>
          <div class="form-group">
            {{ form.package_name.label_tag }} {{ form.package_name }}
          </div>
          <div class="form-group">
            {{ form.package_dimensions.label_tag }} {{ form.package_dimensions }}
            {% for error in form.package_dimensions.errors %}
              {% if error != 'This field is required.' %}
                  <p class="text-danger">{{ error }}</p>
              {% endif %}
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.package_mass.label_tag }} 
            <div class="d-flex" style="width: 33%;">
              {{ form.package_mass }}
            </div>
          </div>
        </div>
      </div>
      <div class="w-100">
        <br />
        <hr />
      </div>
      <div class="form-row">
        <div class="col-md-5 mr-5">
          <h5>Kurir</h5>
          <div class="form-group">
            {{ form.vehicle.label_tag }} {{ form.vehicle }}
          </div>
          <div class="form-group">
            {{ form.messenger.label_tag }} {{ form.messenger }}
          </div>
        </div>
      </div>
      <br />
      <hr />
    </fieldset>
    {% endfor %}
  </div>
  <div class="d-flex">
    <button type="submit" class="btn btn-primary mr-2">Submit</button>
    <button type="button" id="add-form" class="btn btn-info mr-2">
      Tambah Tujuan
    </button>
    <button type="button" id="remove-form" class="btn btn-danger">
      Kurangi Tujuan
    </button>
  </div>
</form>

<div id="popup-container" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index: 999; overflow-y: auto;">
  <div id="popup-content" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 20px; border-radius: 10px;">
    <!-- Include the content of your popup page here -->
    <button id="close-popup-btn" style="position: absolute; top: 23px; right: 2vh;" class="btn btn-link"><i class="fas fa-times" style="color: #000;"></i></button>
    <!-- For example, you can include an iframe with the URL of your popup page -->
    <iframe src="{% url 'add_additional_address' %}" class="iframe"></iframe>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $("#id_1-vehicle").change(function () {
      var vehicle = $(this).val();
      $.ajax({
        url: "{% url 'get_messenger' %}",
        data: {
          vehicle: vehicle,
        },
        dataType: "json",
        success: function (data) {
          // Fill the fields with data returned from the server
          if ("messenger" in data) {
            $("#id_2-vehicle, #id_3-vehicle").val(vehicle);
            $("#id_1-messenger, #id_2-messenger, #id_3-messenger").val(data.messenger);
          }
        },
      });
    });
  });

  document.addEventListener("DOMContentLoaded", function () {
    const addFormButton = document.getElementById("add-form");
    const removeFormButton = document.getElementById("remove-form");
    const numFormsInput = document.getElementById("id_num_forms");
    const formsContainer = document.getElementById("forms-container");
    const addAddressBtn = document.getElementById("add-address-btn");
    const popupContainer = document.getElementById("popup-container");
    const popupContent = document.getElementById("popup-content");
    const closePopupBtn = document.getElementById("close-popup-btn");

    addFormButton.addEventListener("click", function () {
      const currentNumForms = parseInt(numFormsInput.value, 10);
      if (currentNumForms < 3) {
        numFormsInput.value = currentNumForms + 1;
        addForm();
        updateNumForms();
        document.getElementById("delivery-form").submit();
      }
    });

    removeFormButton.addEventListener("click", function () {
      const currentNumForms = parseInt(numFormsInput.value, 10);
      if (currentNumForms > 1) {
        numFormsInput.value = currentNumForms - 1;
        removeForm();
        updateNumForms();
      }
    });

    addAddressBtn.addEventListener("click", function () {
      // Show the popup container as a modal overlay
      popupContainer.style.display = "block";
    });

    closePopupBtn.addEventListener("click", function () {
      // Hide the popup container
      popupContainer.style.display = "none";
    });
    function addForm() {
      const newForm = document.createElement("fieldset");
      newForm.className = "delivery-form";

      formsContainer.appendChild(newForm);
    }

    $('#updateSelect2Btn').click(function() {
      fetchSelect2DataAndUpdate();
    });

    function removeForm() {
      const lastForm = formsContainer.lastElementChild;
      if (lastForm) {
        formsContainer.removeChild(lastForm);
      }
    }

    function updateNumForms() {
      const numForms = numFormsInput.value;
      const csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0]
        .value;
      $.ajax({
        type: "POST",
        url: '{% url "update_num_forms" %}', // Update with the correct URL name
        data: { num_forms: numForms, csrfmiddlewaretoken: csrfToken },
        success: function (data) {
          // location.reload()
        },
        error: function (error) {
          // Handle error if needed
        },
      });
    }
  });
  function fetchSelect2DataAndUpdate() {
      $.ajax({
          url: '{% url "get_location_data" %}', // URL to your Django view
          method: 'GET',
          beforeSend: function(){
            $('#updateSelect2Btn').addClass('spin-animation');
          },
          success: function(response) {
              // Parse the JSON response
              var data = JSON.parse(response);
              
              // Clear existing options in Select2 dropdowns
              $('#id_1-start_location, #id_2-start_location, #id_3-start_location').empty();
              $('#id_1-destination, #id_2-destination, #id_3-destination').empty();

              // Populate Select2 dropdowns with data
              data.forEach(function(item) {
                  $('#id_1-start_location, #id_2-start_location, #id_3-start_location').append('<option value="' + item.pk + '">' + item.fields.detail + '</option>');
                  $('#id_1-destination, #id_2-destination, #id_3-destination').append('<option value="' + item.pk + '">' + item.fields.detail + '</option>');
              });

              // Trigger Select2 to update
              var newestItem = data[data.length - 1];
              $('#id_1-start_location, #id_2-start_location, #id_3-start_location').val(newestItem.pk).trigger('change');
              $('#id_1-destination, #id_2-destination, #id_3-destination').val(newestItem.pk).trigger('change');
          },
          error: function(xhr, status, error) {
              // Handle error
              console.error(error);
          },
          complete: function() {
            setTimeout(function() {
                $('#updateSelect2Btn').removeClass('spin-animation');
            }, 300); // 1000 milliseconds = 1 second
          }
      });
    }

</script>
{% endblock %}
</body>

