<!-- delivery_form_template.html -->

{% extends 'base.html' %} {% block content %}
<h2>{% block title %}Create Delivery Order{% endblock %}</h2>

<form id="delivery-form" method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <label for="id_num_forms" style="display: none">Number of Forms (1-3):</label>
  <input
    type="number"
    name="num_forms"
    id="id_num_forms"
    min="1"
    max="3"
    value="{{ forms|length }}"
    required
    style="display: none"
  />

  <div id="forms-container">
    {% for form in forms %}
    <fieldset class="delivery-form">
      <div class="form-row">
        <div class="col-md-5 mr-5">
          <h5>Detail Pengantaran</h5>
          <div class="form-group">
            {{ form.title.label_tag }} {{ form.title }}
          </div>
          <div class="form-group">
            {{ form.start.label_tag }} {{ form.start }}
          </div>
          <div class="form-group">{{ form.end.label_tag }}{{ form.end }}</div>
          <div class="form-group">
            {{ form.start_location.label_tag }}{{form.start_location }}
          </div>
          <div class="form-group">
            {{ form.destination.label_tag }} {{ form.destination }}
          </div>
        </div>

        <div class="col-md-5">
          <h5>Paket</h5>
          <div class="form-group">
            {{ form.package_name.label_tag }} {{ form.package_name }}
          </div>
          <div class="form-group">
            {{ form.package_dimensions.label_tag }} {{ form.package_dimensions }}
            {% for error in form.package_dimensions.errors %}
              {% if error != 'This field is required.' %}
                  <p class="text-danger">{{ error }}</p>
              {% endif %}
            {% endfor %}
          </div>
          <div class="form-group">
            {{ form.package_mass.label_tag }} {{ form.package_mass }}
          </div>
        </div>
      </div>
      <div class="w-100">
        <br />
        <hr />
      </div>
      <div class="form-row">
        <div class="col-md-5">
          <h5>Kurir</h5>
          <div class="form-group">
            {{ form.messenger.label_tag }} {{ form.messenger }}
          </div>
          <div class="form-group">
            {{ form.vehicle.label_tag }} {{ form.vehicle }}
          </div>
        </div>
      </div>
      <br />
      <hr />
    </fieldset>
    {% endfor %}
  </div>
  <div class="d-flex">
    <button type="submit" class="btn btn-primary mr-2">Submit</button>
    <button type="button" id="add-form" class="btn btn-info mr-2">
      Tambah Tujuan
    </button>
    <button type="button" id="remove-form" class="btn btn-danger">
      Kurangi Tujuan
    </button>
  </div>
</form>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const addFormButton = document.getElementById("add-form");
    const removeFormButton = document.getElementById("remove-form");
    const numFormsInput = document.getElementById("id_num_forms");
    const formsContainer = document.getElementById("forms-container");

    addFormButton.addEventListener("click", function () {
      const currentNumForms = parseInt(numFormsInput.value, 10);
      if (currentNumForms < 3) {
        numFormsInput.value = currentNumForms + 1;
        addForm();
        updateNumForms();
        document.getElementById("delivery-form").submit();
      }
    });

    removeFormButton.addEventListener("click", function () {
      const currentNumForms = parseInt(numFormsInput.value, 10);
      if (currentNumForms > 1) {
        numFormsInput.value = currentNumForms - 1;
        removeForm();
        updateNumForms();
      }
    });

    function addForm() {
      const newForm = document.createElement("fieldset");
      newForm.className = "delivery-form";

      formsContainer.appendChild(newForm);

      // const firstForm = document.querySelector(".delivery-form");
      // if (firstForm) {
      //   const clonedForm = firstForm.cloneNode(true);
      //   formsContainer.appendChild(clonedForm);
      // }
    }

    function removeForm() {
      const lastForm = formsContainer.lastElementChild;
      if (lastForm) {
        formsContainer.removeChild(lastForm);
      }
    }

    function updateNumForms() {
      const numForms = numFormsInput.value;
      const csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0]
        .value;
      $.ajax({
        type: "POST",
        url: '{% url "update_num_forms" %}', // Update with the correct URL name
        data: { num_forms: numForms, csrfmiddlewaretoken: csrfToken },
        success: function (data) {
          // location.reload()
        },
        error: function (error) {
          // Handle error if needed
        },
      });
    }
  });
</script>
{% endblock %}
