# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env
.env.*
/env/
venv/
/venv/
# Django settings file
*.pyc
*.pyo
local_settings.py

# IDE files
.vscode/
.idea/

# Database files
*.sqlite3

# Static files
# /staticfiles/
# static/*

# Media Folder
media/*
!media/.gitkeep

# Migrations
# Ignore migration .py files
migrations/
page1/migrations/*
!page1/migrations/__init__.py
lik/migrations/*
!lik/migrations/__init__.py
!migrations/.gitkeep

# Optionally, ignore migration .pyc files (byte-compiled Python files)
**/migrations/*.pyc

# If you are using Windows, you might also want to ignore .pyo files
**/migrations/*.pyo

logs
