{% extends 'base.html' %}

<html>
  <head>
    {% block title %}Customer Data Table{% endblock %}
  </head>
  <body>
    {% block content %}
    <h1>Customer List</h1>
    <table
      id="customerTable"
      class="table table-hover table-bordered table-striped table-responsive-lg w-100"
    >
      <thead class="thead-light">
        <tr>
          <th data-order="asc">Customer ID</th>
          <th data-order="asc">Nama Perusahaan</th>
          <th data-order="asc">No. Telpon</th>
          <th data-order="asc">Terms of Payment</th>
          <th data-order="asc">Pengiriman</th>
          <th data-order="asc">NPWP</th>
          <th data-order="asc">Faktur Pajak</th>
          <th></th>
        </tr>
      </thead>
      <tfoot style="display: table-head-group">
        <tr>
            <th>Customer ID</th>
            <th>Nama Perusahaan</th>
            <th>No. Telpon</th>
            <th>Terms of Payment</th>
            <th>Pengiriman</th>
            <th>NPWP</th>
            <th>Faktur Pajak</th>
        </tr>
    </tfoot>
      <tbody class="tbody">
        {% for customer in entities %}
        <tr>
          <td>{{ customer.cust_id }}</td>
          <td>{{ customer.nama_pt }}</td>
          <td>{{ customer.telp }}</td>
          <td>{{ customer.terms_of_payment }}</td>
          <td>{{ customer.pengiriman }}</td>
          <td>{{ customer.npwp }}</td>
          <td>{% if customer.faktur %}Yes{% else %}No{% endif %}</td>
          <td>
            <a href="{% url 'customer_detail' customer.cust_id %}">View</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script>
      new DataTable("#customerTable", {
        initComplete: function () {
          this.api()
            .columns()
            .every(function () {
              let column = this;
              let title = column.footer().textContent;

              // Create input element
              let input = document.createElement("input");
              input.placeholder = title;
              column.footer().replaceChildren(input);

              // Event listener for user input
              input.addEventListener("keyup", () => {
                if (column.search() !== this.value) {
                  column.search(input.value).draw();
                }
              });
            });
        },
      });
    </script>
    <a href="/add_customer">Add Customer</a>
    {% endblock %}
  </body>
</html>
