{% extends 'base.html' %}
<!DOCTYPE html>
<html>

<head>
    {% block title %}Add Item{% endblock %}
</head>

<body>
    {% block content %}
    <h2>Add Item</h2>
    <div class="form-group w-50">
        <form method="post" enctype=multipart/form-data>
            {% csrf_token %}
                {% for field in item_form %}
                    {% if field.name != 'is_approved' %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{field}}
                        </div>
                    {% endif %}
                {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {% endblock %}
</body>

</html>