{% extends 'base.html' %}

<html>
  <head>

<head>
    {% block title %}Item Data Table{% endblock %}
  </head>
  <body>
</head>

<body>
    {% block content %}
    <h1>Item List</h1>
    <div>
      <table
        id="itemTable"
        class="table table-bordered table-striped w-100 table-responsive"
      >
        <thead class="thead-light">
          <tr>
            <th>Tanggal Input</th>
            <th>SKU</th>
            <th>Nama</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Satuan</th>
            <th>Price</th>
            <th>Gambar</th>
            <th>Edit/Delete</th>
          </tr>
        </thead>
        <tfoot style="display: table-row-group">
          <tr>
              <th>Tanggal Input</th>
              <th>SKU</th>
              <th>Nama</th>
              <th>Category</th>
              <th>Quantity</th>
              <th>Satuan</th>
              <th>Price</th>
              <th>Gambar</th>
          </tr>
      </tfoot>
        <tbody>
          {% for i in entities %}
          <tr
            {% if i.is_approved%}
            style="background-color: #ccffc7;"
            {% endif %}
          >
          <td>{{ i.Tanggal }}</td>
          <td>{{ i.SKU }}</td>
          <td>{{ i.nama }}</td>
          <td>{{ i.category.name }}</td>
          <td>{{ i.quantity }}</td>
          <td>{{ i.unit }}</td>
          <td>{{ i.price }}</td>
          <td><img src="{{ i.gambar.url }}" alt="{{ i.nama }}" /></td>
            <td>
              <a href="{% url 'item_detail' i.SKU %}">View</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <script>
      new DataTable("#itemTable",{
        columnDefs: [ {
                  targets: 6, // Target the first column (adjust the index as needed)
                  render: function ( data, type, row ) {
                      if (type === 'display') {
                          if (data.startsWith('IDR')) {
                              // Replace commas with periods and periods with commas
                              data = data.replace(/,/g, '#').replace(/\./g, ',').replace(/#/g, '.');
                              data = data.substr(0, 3) + ' ' + data.substr(3);
                              return data
                          }else if(data.startsWith('$')){
                            data = data.replace('$', 'USD');
                            data = data.substr(0, 3) + ' ' + data.substr(3);
                            return data
                          } else {
                              // Add a space after the first three characters
                              return data.substr(0, 3) + ' ' + data.substr(3);
                          }
                      }
                      return data;
                  }
              } ],
          initComplete: function () {
          this.api()
            .columns()
            .every(function () {
              let column = this;
              let title = column.footer().textContent;

              // Create input element
              let input = document.createElement("input");
              input.placeholder = title;
              column.footer().replaceChildren(input);

              // Event listener for user input
              input.addEventListener("keyup", () => {
                if (column.search() !== this.value) {
                  column.search(input.value).draw();
                }
              });
            });
        },
        lengthMenu: 
        [[10, 25, 50, 100, -1],
        [10, 25, 50, 100, "All"]
        ],
        layout: {
          top2Start: {
            buttons: {
              buttons: [
                { extend: "pdf", className: "btn-primary" },
                { extend: "csv", className: "btn-secondary" },
                { extend: "colvis", className: "btn-info" },
              ],
              dom: {
                button: {
                  className: "btn",
                },
              },
            },
          },
          // top2Start:'pageLength'
        },
      });
    </script>
    <a href="/add_item">Add Item</a><br/>
    {% endblock %}
</body>

</html>