{% extends 'base.html' %} {% load auth_extras %} 
{% block title %}Item Data Table{% endblock %} 

{% block content %}
<style>
  .custom-dropdown {
    background-color: royalblue; /* Background color */
    color: white;
    border-color: royalblue; /* Border color */
  }
</style>
<h1>Item List</h1>
<table
  id="itemTable"
  class="table table-bordered table-striped w-100 table-responsive-lg"
>
  <div class="form-inline mb-2">
    <select id="columnFilter" class="form-control btn-info">
      <option value="0">Upload Type</option>
      <option value="1">Tanggal Input</option>
      <option value="2">Tanggal Pesan</option>
      <option value="3">Customer</option>
      <option value="4">PIC</option>
      <option value="5">SKU</option>
      <option value="6">Nama</option>
      <option value="7">Kategori</option>
      <option value="8">Catatan</option>
      <option value="9">Jumlah</option>
      <option value="10">Harga</option>
      <option value="12">Link</option>
      <option value="13">Approved</option>

      <!-- Add more options for additional columns -->
    </select>
    <input
      type="text"
      id="columnSearch"
      placeholder="Search in selected column"
      class="form-control m-1"
      style="width: 30%"
    />
    <button id="searchButton" class="btn btn-primary mr-1">Search</button>
    <button id="resetButtonCol" class="btn btn-secondary mr-2">Reset</button>
    <button id="filterDuplicatesButton" class="btn btn-warning">
      Check Duplicates
    </button>
    <button id="resetFilterDuplicatesBtn" class="btn btn-secondary ml-1">
      Reset
    </button>
  </div>

  <div class="form-inline mb-2">
    <label class="mr-2" for="startDate">Start Date:</label>
    <input type="date" id="startDate" class="form-control mr-1" style="width: 15%;" />
    <label class="mr-2" for="endDate">End Date:</label>
    <input type="date" id="endDate" class="form-control mr-1" style="width: 15%;" />

    <button id="filterButton" class="btn btn-primary">Apply</button>

    <select id="dateRange" class="form-control ml-2 btn-info">
      <option value="">Select Date Range</option>
      <option value="7">Last 7 days</option>
      <option value="30">Last 30 days</option>
      <option value="60">Last 60 days</option>
      <option value="90">Last 90 days</option>
      <option value="ytd">Current year to date</option>
      <option value="365">Last 1 year (365 days)</option>
      <option value="730">Last 2 years (730 days)</option>
    </select>

    <button id="resetButton" class="btn btn-secondary ml-1">Reset</button>
  </div>

  <thead class="thead-light">
    {% csrf_token %}
    <tr>
      <th>Upload Type</th>
      <th>Tanggal Input</th>
      <th>Tanggal Pesan</th>
      <th>Customer</th>
      <th>PIC</th>
      <th>SKU</th>
      <th>Nama</th>
      <th>Catatan</th>
      <th>Category</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Gambar</th>
      <th>Link</th>
      <th>Status (Approve)</th>
      <th>Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for i in entities %}
    <tr {% if i.is_approved %} style="background-color: #ccffc7" {% endif %}>
      <td>{{i.upload_type}}</td>
      <td>{{ i.Tanggal|date:"Y/m/d" }}</td>
      <td>{{ i.tanggal_pemesanan|date:"Y/m/d" }}</td>
      <td>{{ i.customer }}</td>
      <td>{{ i.pic }}</td>
      <td>{{ i.SKU }}</td>
      <td>{{ i.nama }}</td>
      <td>{{ i.catatan }}</td>
      <td>{{ i.category.name }}</td>
      <td>{{ i.quantity }} {{ i.unit }}</td>
      <td>{{ i.price }}</td>
      <td><img src="{{ i.gambar.url }}" alt="{{ i.nama }}" /></td>
      <td>
        {% for sumber in i.itemsumber_set.all %} {% if sumber.url %}
        <a href="{{ sumber.url }}"
          >{{ sumber.url|slice:":20" }}{% if sumber.url|length > 20 %}...{% endif %}</a
        >
        {% else %} None {% endif %} {% endfor %}
      </td>
      <td>{% if i.is_approved %}Yes{% else %}No{% endif %}</td>
      <td><a href="{% url 'item_detail' i.SKU %}">View</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="/add_item">Add Item</a><br />

<script>
  var table;
  var table;
function initializeDataTable() {
    var isAdmin = "{{ request.user|has_group:'Admin' }}";
    table = new DataTable("#itemTable", {
        processing: true,
        serverSide: true,
        ajax: {
            url: "{% url 'item_list' %}",
            type: "GET",
            data: function(d) {
                // Add the extra filters from the frontend
                d.search.value = $('#columnSearch').val();  // Search term
                d.start_date = $('#startDate').val();        // Start date filter
                d.end_date = $('#endDate').val();            // End date filter
            },
            dataSrc: function(json) {
                // Log the JSON response to check if data is being received correctly
                // console.log(json);
                return json.data;
            }
        },
        select: {
            style: "multi",
        },
        columnDefs: [
            {
                targets: 10,
                render: function (data, type, row) {
                    if (type === "display") {
                        if (data.startsWith("IDR")) {
                            // Replace commas with periods and periods with commas
                            data = data
                                .replace(/,/g, "#")
                                .replace(/\./g, ",")
                                .replace(/#/g, ".");
                            data = data.substr(0, data.indexOf(",")); // Get substring until the first comma
                            data = data.substr(0, 3) + " " + data.substr(3);
                            return data;
                        } else if (data.startsWith("$")) {
                            data = data.replace("$", "USD");
                            data = data.substr(0, 3) + " " + data.substr(3);
                            return data;
                        } else {
                            // Add a space after the first three characters
                            return data.substr(0, 3) + " " + data.substr(3);
                        }
                    }
                    return data;
                },
            },
            {
                targets: [4],
                render: function (data, type, row, meta) {
                    if (type === "display") {
                        if (data && data.includes("-")) {
                            var picName = data.split("-")[1]; // Extract "John" part
                            return picName.trim(); // Return the trimmed name
                        } else {
                            return data; // Return the original data if it's null or doesn't contain a hyphen
                        }
                    }
                    return data;
                },
            },
        ],
        columns: [
            { visible: false },
            { visible: false },
            null,
            null,
            null,
            { visible: false },
            { visible: true, width: "15%" },
            { visible: true, width: "20%" },
            null,
            null,
            { visible: true, width: "9%" },
            null,
            null,
            null,
            null,
        ],
        lengthMenu: [
            [10, 25, 50, 100, -1],
            [10, 25, 50, 100, "All"],
        ],
        dom: 'Bfrtip',
        buttons: [
            {
                text: "PDF",
                extend: "print",
                className: "btn-primary",
                exportOptions: {
                    columns: ":visible",
                    stripHtml: false,
                },
            },
            {
                text: "Upload Excel",
                className: "btn-secondary",
                action: function () {
                    window.location.href = "/upload_excel";
                },
            },
            {
                text: "Delete Rows",
                className: "btn-danger",
                action: deleteSelectedRows,
            },
            {
                extend: "copy",
                text: "Copy",
                className: "btn-warning",
                header: false, // Disable export header tabla
                exportOptions: {
                    columns: [6, 10], // Select columns to be exported
                },
                title: null,
            },
            {
                text: "{% if request.user|has_group:'Admin' %} Approve {% endif %}",
                className: "btn-success",
                action: approveRows,
                init: function (api, node, config) {
                    // Hide the button if the user is not in the Admin group
                    if (isAdmin === "False") {
                        $(node).addClass("d-none");
                    }
                },
            },
            { extend: "colvis", className: "btn-info" },
        ],
    });
}

  function deleteSelectedRows() {
    if (!table) {
      console.error("Table is not initialized.");
      return;
    }
    var selectedIDs = table
      .rows(".selected")
      .data()
      .toArray()
      .map((row) => row[5]); // Get SKUs of selected rows using DataTables API
    selectedIDs.forEach(function (value) {
      console.log("selected_ids[]:", value);
    });
    if (selectedIDs.length === 0) {
      alert("Please select at least one row to delete.");
      return;
    }
    if (confirm("Are you sure you want to delete the selected rows?")) {
      const csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0]
        .value;
      $.ajax({
        url: '{% url "delete_selected_rows_item" %}',
        type: "POST",
        data: { selected_ids: selectedIDs, csrfmiddlewaretoken: csrfToken },
        dataType: "json",
        success: function (response) {
          if (response.success) {
            // Reload or update the table after successful deletion
            location.reload(); // Assuming you're using AJAX to populate the table
            // Optionally, provide feedback to the user
            alert("Selected rows deleted successfully.");
          } else {
            alert("Error deleting selected rows: " + response.error);
          }
        },
        error: function (xhr, status, error) {
          alert("Error deleting selected rows: " + error);
        },
      });
    }
  }

  function approveRows() {
    if (!table) {
      console.error("Table is not initialized.");
      return;
    }
    var selectedIDs = table
      .rows(".selected")
      .data()
      .toArray()
      .map((row) => row[5]); // Get SKUs of selected rows using DataTables API
    console.log(selectedIDs);
    selectedIDs.forEach(function (value) {
      console.log("selected_ids[]:", value);
    });
    if (selectedIDs.length === 0) {
      alert("Please select at least one row to approve.");
      return;
    }

    if (confirm("Are you sure you want to approve the selected rows?")) {
      const csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0]
        .value;
      $.ajax({
        url: '{% url "approve_selected_rows" %}',
        type: "POST",
        data: { selected_ids: selectedIDs, csrfmiddlewaretoken: csrfToken },
        dataType: "json",
        success: function (response) {
          if (response.success) {
            // Reload or update the table after successful deletion
            location.reload(); // Assuming you're using AJAX to populate the table
            // Optionally, provide feedback to the user
            alert("Selected rows approved successfully.");
          } else {
            alert("Error approving selected rows: " + response.error);
          }
        },
        error: function (xhr, status, error) {
          alert("Error approving selected rows: " + error);
        },
      });
    }
  }

  $(document).ready(function () {
    initializeDataTable();

    $("#filterDuplicatesButton").on("click", function () {
      filterDuplicates();
    });

    function filterDuplicates() {
      var rows = table.rows().nodes(); // Get all rows in the DataTable

      var uniqueRows = {}; // Object to store unique rows
      var duplicateRows = []; // Array to store duplicate row nodes

      // Iterate through each row
      rows.each(function (index, row) {
        var rowData = table.row(row).data(); // Get data for the current row
        var rowDataStr = JSON.stringify(excludeColumns(rowData)); // Convert row data to a string for comparison

        // Check if the row data already exists in the uniqueRows object
        if (uniqueRows[rowDataStr]) {
          // Duplicate row found, add both the current row and the original reference row to the duplicateRows array
          duplicateRows.push(row);
          duplicateRows.push(uniqueRows[rowDataStr]);
        } else {
          // Unique row, add it to the uniqueRows object
          uniqueRows[rowDataStr] = row;
        }
      });

      // Hide all rows
      table.rows().nodes().to$().hide();

      // Show only duplicate rows and their corresponding original reference rows
      table.rows(duplicateRows).nodes().to$().show();

      table.draw();
    }

    // Function to exclude multiple columns from row data
    function excludeColumns(rowData) {
      var excludedColumns = [1, 5, 11, 13, 14]; // Specify the indices of columns to be excluded (e.g., column index 3 and 5)
      var rowDataCopy = rowData.slice(); // Create a copy of the row data array

      // Set excluded column values to null
      for (var i = 0; i < excludedColumns.length; i++) {
        var columnIndex = excludedColumns[i];
        rowDataCopy[columnIndex] = null;
      }

      return rowDataCopy;
    }

    $("#resetFilterDuplicatesBtn").on("click", function () {
      resetFilterDuplicates();
    });
    // Trigger search on button click
    $("#searchButton").on("click", function () {
      columnSearch();
    });

    // Reset search on button click
    $("#resetButtonCol").on("click", function () {
      resetSearch();
    });

    // Function to perform column-specific search
    function columnSearch() {
      var columnIndex = $("#columnFilter").val(); // Get the index of the selected column
      var searchValue = $("#columnSearch").val().trim(); // Get the value of the search input and remove leading/trailing whitespace
      table.column(columnIndex).search(searchValue).draw(); // Apply search to the selected column
    }
    // Function to reset check duplicates button
    function resetFilterDuplicates() {
      // Show all rows
      table.rows().nodes().to$().show();

      table.draw();
    }

    // Function to reset search
    function resetSearch() {
      $("#columnSearch").val(""); // Clear the search input
      table.search("").columns().search("").draw(); // Clear all column-specific searches and redraw the table
    }

    $("#filterButton").click(function () {
      var startDate = $("#startDate").val();
      var endDate = $("#endDate").val();
      filterByDateRange(startDate, endDate);
    });

    $("#resetButton").click(function () {
      $("#startDate").val("");
      $("#endDate").val("");
      $("#dateRange").val("");
      filterByDateRange("", "");
    });

    $("#dateRange").change(function () {
      var dateRange = $(this).val();
      var startDate = "";
      var endDate = "";

      // Calculate start and end dates based on selected range
      if (dateRange === "7") {
        endDate = formatDate(new Date()); // Today's date
        startDate = formatDate(
          new Date(new Date().setDate(new Date().getDate() - 6))
        ); // Date 7 days ago
      } else if (dateRange === "30") {
        endDate = formatDate(new Date()); // Today's date
        startDate = formatDate(
          new Date(new Date().setDate(new Date().getDate() - 29))
        ); // Date 30 days ago
      } else if (dateRange === "60") {
        endDate = formatDate(new Date()); // Today's date
        startDate = formatDate(
          new Date(new Date().setDate(new Date().getDate() - 59))
        ); // Date 30 days ago
      } else if (dateRange === "90") {
        endDate = formatDate(new Date()); // Today's date
        startDate = formatDate(
          new Date(new Date().setDate(new Date().getDate() - 89))
        ); // Date 30 days ago
      } else if (dateRange === "365") {
        endDate = formatDate(new Date()); // Today's date
        startDate = formatDate(
          new Date(new Date().setDate(new Date().getDate() - 364))
        ); // Date 365 days ago
      } else if (dateRange === "730") {
        endDate = formatDate(new Date()); // Today's date
        startDate = formatDate(
          new Date(new Date().setDate(new Date().getDate() - 729))
        ); // Date 365 days ago
      } else if (dateRange === "ytd") {
        endDate = formatDate(new Date()); // Today's date
        startDate = new Date(new Date().getFullYear(), 0, 1); // 1st January of current year
        startDate = formatDate(startDate);
      }
      filterByDateRange(startDate, endDate);
    });
    function formatDate(date) {
      var year = date.getFullYear();
      var month = ("0" + (date.getMonth() + 1)).slice(-2); // Months are zero-based
      var day = ("0" + date.getDate()).slice(-2);
      return year + "-" + month + "-" + day;
    }

    function filterByDateRange(startDate, endDate) {
      $.ajax({
        url: '{% url "display_item" %}',
        type: "GET",
        data: {
          start_date: startDate,
          end_date: endDate,
        },
        success: function (response) {
          console.log("Success");
          $("#itemTable").html($(response).find("#itemTable").html());
          if (table) {
            table.destroy();
          }
          initializeDataTable();
        },
        error: function (xhr, status, error) {
          console.error("Error filtering data:", error);
        },
      });
    }
  });
</script>
{% endblock %}
