{% extends 'base.html' %}

<html>

<head>
    {% block title %}Supplier Detail{% endblock %}
</head>

<body>
    {% block content %}
    <div class="container mt-4 custom-container">
        <h1>Supplier Detail</h1>
        <a href="/display_supplier">Back</a>

        <!-- Left column for the Supplier Form -->
        <div class="row">
            <div class="col-md-6">
                <form id="editForm" method="post" action="{% url 'edit_supplier' entity.supp_id %}"
                    data-redirectUrl="{% url 'supplier_detail' entity.supp_id %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>

                <div class="d-flex">
                    <form id="deleteForm" method="post" action="{% url 'delete_supplier' entity.supp_id %}"
                        onclick="return confirmDelete('/display_supplier');" class="mt-2">
                        {% csrf_token %}
                        <button type="button" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>

            <!-- Right column for Supplier Pictures -->
            <div class="col-md-6">
                <h2>PIC:</h2>
                {% if supplier_pics %}
                <ul>
                    {% for pic in supplier_pics %}
                    <li>
                        {% if pic.nama and pic.Role and pic.telp and pic.email %}
                        {{ pic.nama }} - {{ pic.Role }} - {{ pic.telp }} - {{ pic.email }}
                        {% else %}
                        No PIC details yet.
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No PIC yet.</p>
                {% endif %}
                <a href="{% url 'add_pic_supp' supp_id=entity.supp_id %}" class="mt-2 btn btn-success">Add PIC</a>

                <h2 class="mt-3">Alamat:</h2>
                {% if supplier_alamat %}
                <ul>
                    {% for alamat in supplier_alamat %}
                    <li>
                        {% if alamat.type == 'penagihan' %}
                        Penagihan:
                        {% elif alamat.type == 'pengiriman' %}
                        Pengiriman:
                        {% else %}
                        Unknown Type:
                        {% endif %}

                        {% if alamat.detail and alamat.kelurahan and alamat.kecamatan and alamat.kota and alamat.provinsi %}
                        {{ alamat.detail }}, {{ alamat.kelurahan }}, {{ alamat.kecamatan }}, {{ alamat.kota }}, {{
                        alamat.provinsi }}
                        {% else %}
                        No address details yet.
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No addresses yet.</p>
                {% endif %}
                <a href="{% url 'add_supplier_alamat' supp_id=entity.supp_id %}" class="mt-2 btn btn-info">Add
                    Alamat</a>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>