{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}Add Work Order{% endblock %}
    
</head>
<body>
    {% block content %} 
    <h1>Add Work Order</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% endblock %}

    {% block scripts %}
        <script>
            $("#id_item").select2()
            $("#id_customer").select2()
        </script>
    {% endblock %}
</body>
</html>
