{% extends 'base.html' %}

<html>
<head>
    <title>Supplier Data Table</title>
    <meta charset="UTF-8">	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#supplierTable').DataTable();
        } );
    </script>
</head>
<body>
    {% block content %}
    <h1>Supplier List</h1>
    <table id="supplierTable" border="1">
        <thead>
            <tr>
                <th data-order="asc">Supplier ID</th>
                <th data-order="asc">Nama PT</th>
                <th data-order="asc">Alamat Penagihan</th>
                <th data-order="asc">Alamat Pengiriman</th>
                <th data-order="asc">Telp</th>
                <th data-order="asc">Terms of Payment</th>
                <th data-order="asc">NPWP</th>
                <th data-order="asc">Faktur</th>
            </tr>
        </thead>
        <tbody>
            {% for s in suppliers %}
                <tr>
                    <td>{{ s.supp_id }}</td>
                    <td>{{ s.nama_pt }}</td>
                    <td>{{ s.alamat_penagihan }}</td>
                    <td>{{ s.alamat_pengiriman }}</td>
                    <td>{{ s.telp }}</td>
                    <td>{{ s.terms_of_payment }}</td>
                    <td>{{ s.npwp }}</td>
                    <td>{% if s.faktur %}Yes{% else %}No{% endif %}</td>
                    <td>
                        <a href="{% url 'supplier_detail' s.supp_id %}">View</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/add_supplier">Add Supplier</a><br/><br/>
    {% endblock %}
</body>
</html>
