<head>
  <title>403: Access Denied</title>
  <style>
    @import url("https://fonts.googleapis.com/css?family=Hind+Madurai|Montserrat");

    h1 {
      font-family: "Montserrat", sans-serif;
    }

    p {
      font-family: "Hind Madurai", sans-serif;
    }

    a {
      font-family: "Hind Madurai", sans-serif;
    }

    #container {
      display: flex;
      justify-content: center;
      height: 100vh;
    }

    #item {
      text-align: center;
      align-self: center;
      min-width: 300px;
    }
  </style>
</head>
<body>
  <div id="container">
    <div id="item">
      <h1>403</h1>
      <p>Access Denied</p>
      <a href="/">Return to Dashboard</a>
    </div>
  </div>
</body>
