{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}PIC List{% endblock %}
</head>
<body>
    {% block content %}
    <h1>{{ supplier.nama_pt }}</h1>
    <p>Alamat: {{ supplier.alamat_penagihan }}</p>
    <!-- Add more supplier details here... -->

    <h2>Registered PIC's</h2>
    <ul>
    {% for pic in supplier_pics %}
        <li>{{ pic.nama }}</li>
        <!-- Display other SupplierPIC fields as needed -->
    {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>
