{% extends 'base.html' %}

<html>
  <head>
    {% block title %}Work Data Table{% endblock %}
  </head>

  <body>
    {% block content %}
    <h1>Work Order List</h1>
    {% csrf_token %}
    <table
      id="workTable"
      class="table table-bordered table-striped w-100 table-responsive-lg"
    >
    <div class="form-inline mb-2">
      <select id="columnFilter" class="form-control btn-info">
        <option value="0">ID</option>
        <option value="1">Customer</option>
        <option value="2">Revenue WO</option>
        <option value="3">Nomor WO</option>
        <option value="4">Tanggal WO</option>
        <option value="5">Tanggal Proses</option>
        <option value="6">Tanggal Input Accurate</option>
        <option value="7">Tanggal Pengiriman Barang</option>
        <option value="8">Tanggal Pengiriman Invoice</option>
        <option value="9">Status</option>
        <!-- Add more options for additional columns -->
      </select>
      <input type="text" id="columnSearch" placeholder="Search in selected column" class="form-control w-25">
    </div>
      <thead class="thead-light">
        <tr>
          <th>ID</th>
          <th>Customer</th>
          <th>Items</th>
          <th>Revenue WO</th>
          <th>Nomor PO</th>
          <th>Tanggal WO</th>
          <th>Tanggal Proses</th>
          <th>Tanggal Input Accurate</th>
          <th>Tanggal Pengiriman Barang</th>
          <th>Tanggal Pengiriman Invoice</th>
          <th>Status</th>
          <th>Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for work in entities %}
        <tr>
          <td>{{work.id}}</td>
          <td>{{ work.customer }}</td>
          <td>
            {% for item in work.workorderitems_set.all %}
            {{ item.item }},
            {% endfor %}
          </td>
          <td>{{ work.revenue_WO }}</td>
          <td>{{ work.nomor_PO }}</td>
          <td>{{ work.tanggal_WO|date:"Y/m/d" }}</td>
          <td>{{ work.tanggal_process|date:"Y/m/d" }}</td>
          <td>{{ work.tanggal_input_accurate|date:"Y/m/d" }}</td>
          <td>{{ work.tanggal_pengiriman_barang|date:"Y/m/d" }}</td>
          <td>{{ work.tanggal_pengiriman_invoice|date:"Y/m/d" }}</td>
          <td>{{ work.status }}</td>
          <td>
            <a href="{% url 'work_detail' work.id %}">View</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script>
      var table;
      function initializeDataTable(){
      table = new DataTable("#workTable", {
        select:{
          style:"multi",
        },
        columnDefs: [
          {
            targets: 3, // Target the first column (adjust the index as needed)
            render: function (data, type, row) {
              if (type === "display") {
                if (data.startsWith("IDR")) {
                  // Replace commas with periods and periods with commas
                  data = data.replace(/,/g, '#').replace(/\./g, ',').replace(/#/g, '.');
                  data = data.substr(0, data.indexOf(',')); // Get substring until the first comma
                  data = data.substr(0, 3) + ' ' + data.substr(3);
                  return data
                } else if (data.startsWith("$")) {
                  data = data.replace("$", "USD");
                  data = data.substr(0, 3) + " " + data.substr(3);
                  return data;
                } else {
                  // Add a space after the first three characters
                  return data.substr(0, 3) + " " + data.substr(3);
                }
              }
              return data;
            },
          },
          {
            targets: 4, // Target the third column
            render: function (data, type, row) {
              if (type === "display" && !isNaN(data)) { // Check if data is a number
                return "PO" + data;
              }
              return data;
            },
          }
        ],
        lengthMenu: [
          [10, 25, 50, 100, -1],
          [10, 25, 50, 100, "All"],
        ],
        layout: {
          top2Start: {
            buttons: {
              buttons: [
                { extend: "pdf", 
                  className: "btn-primary",
                  exportOptions: {
                    columns: ':visible'
                  } },
                {
                    text: "Delete Rows",
                    className: "btn-danger",
                    action: deleteSelectedRows,
                  },
                { extend: "colvis", className: "btn-info" },
              ],
              dom: {
                button: {
                  className: "btn",
                },
              },
            },
          },
          // top2Start:'pageLength'
        },
      });
    }
    function deleteSelectedRows(){
    if (!table) {
        console.error("Table is not initialized.");
        return;
    }
        var selectedIDs = table.rows('.selected').data().toArray().map(row => row[0]); // Get SKUs of selected rows using DataTables API
        selectedIDs.forEach(function(value) {
        console.log('selected_ids[]:', value);
        });
        if (selectedIDs.length === 0) {
            alert('Please select at least one row to delete.');
            return;
        }

        if (confirm('Are you sure you want to delete the selected rows?')) {
            const csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
            $.ajax({
                url: '{% url "delete_selected_rows_WO" %}',
                type: 'POST',
                data: {selected_ids: selectedIDs, csrfmiddlewaretoken: csrfToken },
                dataType: 'json',
                success: function(response) {
                    if (response.success) {
                        // Reload or update the table after successful deletion
                        location.reload(); // Assuming you're using AJAX to populate the table
                        // Optionally, provide feedback to the user
                        alert('Selected rows deleted successfully.');
                    } else {
                        alert('Error deleting selected rows: ' + response.error);
                    }
                },
                error: function(xhr, status, error) {
                    alert('Error deleting selected rows: ' + error);
                },
            });
        }
    }
    $(document).ready(function() {
        initializeDataTable();
        $("#columnSearch").on("keyup", function() {
          columnSearch(); // Call the columnSearch function when the user types in the input field
        });

        // Function to perform column-specific search
        function columnSearch() {
          var columnIndex = $("#columnFilter").val(); // Get the index of the selected column
          var searchValue = $("#columnSearch")
            .val()
            .trim(); // Get the value of the search input and remove leading/trailing whitespace
          table
            .column(columnIndex)
            .search(searchValue)
            .draw(); // Apply search to the selected column
        }
      });
    </script>
    <a href="/add_WO">Add Work Order</a>
    {% endblock %}
  </body>
</html>
