{% extends 'base.html' %}

<html>
<head>
    {% block title %}Purchase Data Table{% endblock %}
</head>
<body>
    {% block content %}
    <h1>Purchase Order List</h1>
    <table id="purchaseTable" class="table table-bordered table-striped w-100">
        <thead>
            <tr>
                <th data-order="asc">Supplier</th>
                <th data-order="asc">Item</th>
                <th data-order="asc">Revenue PO</th>
                <th data-order="asc">Nomor PO</th>
                <th data-order="asc">Tanggal PO</th>
                <th data-order="asc">Tanggal Proses</th>
                <th data-order="asc">Tanggal Input Accurate</th>
                <th data-order="asc">Tanggal Pengiriman Barang</th>
                <th data-order="asc">Tanggal Pengiriman Invoice</th>
                <th data-order="asc">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in entities %}
                <tr>
                    <td>{{ purchase.supplier }}</td>
                    <td>{{ purchase.item }}</td>
                    <td>{{ purchase.revenue_PO }}</td>
                    <td>{{ purchase.nomor_PO }}</td>
                    <td>{{ purchase.tanggal_PO }}</td>
                    <td>{{ purchase.tanggal_process }}</td>
                    <td>{{ purchase.tanggal_input_accurate }}</td>
                    <td>{{ purchase.tanggal_pengiriman_barang }}</td>
                    <td>{{ purchase.tanggal_pengiriman_invoice }}</td>
                    <td>{{ purchase.status }}</td>
                    <td>
                        <a href="{% url 'purchase_detail' purchase.id %}">View</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        new DataTable('#purchaseTable');
    </script>
    <a href="/add_PO">Add Purchase Order</a>
    {% endblock %}
</body>
</html>
