<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Lotus Solusindo</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Heading</p>
            <li class="active">
                <a href="" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Data Tables</a>
                <ul class="collapse list-unstyled" id="dataSubmenu">
                    <li><a href="">Customer</a></li>
                    <li><a href="">Supplier</a></li>
                    <li><a href="">Item</a></li>
                </ul>
            </li>
            <li><a href="">Page</a></li>
            <li><a href="">Page</a></li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li><a href="">Login</a></li>
            <li><a href="">Register</a></li>
        </ul>
    </nav>
</body>
</html>