{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'sidebar/style.css' %}">
    
    <title>Sidebar</title>
</head>
<body>
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Lotus Solusindo</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Heading</p>
            <li class="active">
                <a href="#dataSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle sidebar-a">Data Tables</a>
                <ul class="collapse list-unstyled show" id="dataSubmenu">
                    <li><a class="sidebar-a" href="/display_customer">Customer</a></li>
                    <li><a class="sidebar-a" href="/display_supplier">Supplier</a></li>
                    <li><a class="sidebar-a" href="/display_item">Item</a></li>
                </ul>
            </li>
            <li><a class="sidebar-a" href="">Page</a></li>
            <li><a class="sidebar-a" href="">Page</a></li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li><a class="sidebar-a" class="settings" href="">Settings</a></li>
        </ul>
    </nav>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>
</body>
</html>