{% extends 'base.html' %}

<html>
  <head>
    {% block title%}Prospect Log{% endblock %}
  </head>
  <body>
    {% block content %}
    <h1>
      <span class="text-primary font-italic">{{prospect.nama}}</span> Logs
    </h1>

    <div class="row mb-2">
      {% if prospect.open %}
      <div class="col-md-6">
        <!-- Adjust column width based on your design -->
        <a
          class="btn btn-primary"
          href="{% url 'add_prospect_log' prospect.prospect_id%}"
          >Add New Log</a
        >
      </div>
      {% else %}
      <div class="col-md-6">
        <!-- Adjust column width based on your design -->
        <a class="btn btn-primary disabled" href="">Add New Log</a>
      </div>
      {% endif %}
    </div>
    <div
      {% if prospect.open %}class="card"
      {% else %}class="card border-danger"
      {% endif %}
    >
      <div
        {% if prospect.open %}class="card-header bg-transparent"
        {% else %}class="card-header bg-transparent border-danger"
        {% endif %}
      >
        <span
          {% if prospect.open %}class="font-weight-bold h5"
          {% else %}class="font-weight-bold h5 text-danger"
          {% endif %}
          >{% if prospect.open %}Open{% else %}Closed{% endif %}</span
        >
      </div>
      <div class="card-body">
        {% for i in prospect_log %}
        <div class="card">
          <div class="card-header">{{i.date}}</div>
          <div class="card-body">
            <h5 class="card-title">{{ i.type }}</h5>
            <p class="card-text">{{ i.activity }}</p>

            <a
              href="{% url 'edit_prospect_log' i.id %}"
              class="btn btn-sm btn-primary"
              ><i class="fa fa-pen"></i
            ></a>
            <button
              class="btn btn-sm btn-danger delete-log-btn"
              data-log-id="{{ i.id }}"
              data-log-type="{{ i.type }}"
            >
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Add a click event listener to all delete buttons
        document.querySelectorAll(".delete-log-btn").forEach(function (btn) {
          btn.addEventListener("click", function () {
            // Display a confirmation dialog
            const isConfirmed = confirm(
              "Are you sure you want to delete " +
                btn.getAttribute("data-log-type") +
                "?"
            );

            if (isConfirmed) {
              // If confirmed, make an Ajax request to delete the pic
              const logId = btn.getAttribute("data-log-id");
              fetch("{% url 'delete_prospect_log' 0 %}".replace("0", logId), {
                method: "POST",
                headers: {
                  "X-CSRFToken": "{{ csrf_token }}",
                },
              })
                .then((response) => response.json())
                .then((data) => {
                  if (data.success) {
                    // Reload the page or update the DOM as needed
                    alert("Successfully deleted log.");
                    location.reload();
                  } else {
                    alert("Failed to delete the log.");
                  }
                })
                .catch((error) => {
                  console.error("Error:", error);
                  alert("An error occurred while deleting the log.");
                });
            }
          });
        });
      });
    </script>
    {% endblock %}
  </body>
</html>
