{% extends 'base.html' %}

<html>
  <head>
    {% block title%}Prospect Ticket{% endblock %}
  </head>
  <body>
    {% block content %}
    <h1>
      <span class="text-primary font-italic">{{prospect.nama}}</span> Tickets
    </h1>

    <div class="row mb-2">
      <div class="col-md-6">
        <!-- Adjust column width based on your design -->
        <a
          class="btn btn-primary"
          href="{% url 'add_prospect_ticket' prospect.prospect_id%}"
          >Add New Ticket</a
        >
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        {% for i in prospect_tickets %}
        <div
          {% if i.open %}class="card mt-2 mb-2"
          {% else %}class="card mt-2 mb-2 border-danger"
          {% endif %}
        >
          <div
            {% if i.open %}class="card-header"
            {% else %}class="card-header border-danger bg-danger"
            {% endif %}
          >
            <div 
              {% if i.open %}class="row align-items-center"
              {% else %}class="row align-items-center text-white"
              {% endif %}
            >
              <div class="col">{{ i.date }}</div>
              <span class="text-right font-weight-bold mr-3"> 
                {% if i.open %}Open{% else %}Closed{% endif %}
              </span>
            </div>
          </div>
          <div class="card-body">
            <div class="d-flex mb-2">
              <h5 class="mr-auto p-2">{{ i.type }}</h5>
              <div class="p-2">
                <a
                  href="{% url 'edit_prospect_ticket' i.id %}"
                  class="btn btn-sm btn-primary"
                >
                  <i class="fa fa-pen"></i> Edit
                </a>
                <button
                    class="btn btn-sm btn-danger delete-log-btn"
                    data-log-id="{{ i.id }}"
                    data-log-type="{{ i.type }}"
                >
                  <i class="fa fa-times"></i> Delete
                </button>
                <a
                  {% if i.open %}
                  href="{% url 'add_ticket_log' i.id %}"
                  class="btn btn-sm btn-success"
                  {% else %}
                  class="btn btn-sm btn-success disabled"
                  {% endif %}
                >
                  <i class="fa fa-plus"></i> Add New Log
                </a>
              </div>
            </div>
            <p class="card-text p-2">{{ i.activity }}</p>
            <hr>
            {% for log in i.ticketlog_set.all %}
            <div class="d-flex">              
              <span class="mr-auto p-2">{{ log.date }} - {{ log.detail }}</span>
              <div class="p-2">
                <a
                  {% if i.open %}
                  href="{% url 'edit_ticket_log' log.id %}"
                  class="btn btn-sm btn-primary"
                  {% else %}
                  href=""
                  class="btn btn-sm btn-primary disabled" 
                  {% endif %}
                >
                  <i class="fa fa-pen"></i> Edit
                </a>
                <button
                  {% if i.open %}
                    class="btn btn-sm btn-danger delete-log-ticket-btn"
                    data-log-ticket-id="{{ log.id }}"
                    data-log-ticket-type="{{ log.type }}"
                  {% else %}
                    class="btn btn-sm btn-danger disabled"
                  {% endif %}
                >
                  <i class="fa fa-times"></i> Delete
                </button>
              </div>
            </div>
            {% endfor %}
            <!-- UNTIL HERE -->
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Add a click event listener to all delete buttons
        document.querySelectorAll(".delete-log-btn").forEach(function (btn) {
          btn.addEventListener("click", function () {
            // Display a confirmation dialog
            const isConfirmed = confirm(
              "Are you sure you want to delete " +
                btn.getAttribute("data-log-type") +
                "?"
            );

            if (isConfirmed) {
              // If confirmed, make an Ajax request to delete the pic
              const logId = btn.getAttribute("data-log-id");
              fetch(
                "{% url 'delete_prospect_ticket' 0 %}".replace("0", logId),
                {
                  method: "POST",
                  headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                  },
                }
              )
                .then((response) => response.json())
                .then((data) => {
                  if (data.success) {
                    // Reload the page or update the DOM as needed
                    alert("Successfully deleted ticket.");
                    location.reload();
                  } else {
                    alert("Failed to delete the ticket.");
                  }
                })
                .catch((error) => {
                  console.error("Error:", error);
                  alert("An error occurred while deleting the ticket.");
                });
            }
          });
        });
      });

      
      document.addEventListener("DOMContentLoaded", function () {
        // Add a click event listener to all delete buttons
        document.querySelectorAll(".delete-log-ticket-btn").forEach(function (btn) {
          btn.addEventListener("click", function () {
            // Display a confirmation dialog
            const isConfirmed = confirm(
              "Are you sure you want to delete " +
                btn.getAttribute("data-log-ticket-type") +
                "?"
            );

            if (isConfirmed) {
              // If confirmed, make an Ajax request to delete the pic
              const logId = btn.getAttribute("data-log-ticket-id");
              fetch(
                "{% url 'delete_ticket_log' 0 %}".replace("0", logId),
                {
                  method: "POST",
                  headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                  },
                }
              )
                .then((response) => response.json())
                .then((data) => {
                  if (data.success) {
                    // Reload the page or update the DOM as needed
                    alert("Successfully deleted log.");
                    location.reload();
                  } else {
                    alert("Failed to delete the log.");
                  }
                })
                .catch((error) => {
                  console.error("Error:", error);
                  alert("An error occurred while deleting the log.");
                });
            }
          });
        });
      });
    </script>
    {% endblock %}
  </body>
</html>
